/* Add styles here. */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 70%;
    background-color: white;
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 5px;
    font-size: 1.2em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    padding: 10px 20px;
    align-self: flex-end;
}

li.error {
    color: red;
}

.pokemon-card-section{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.pokemon-card {
    /* background-color: #F5F5F5; */
    /* border: 1px solid black; */
    margin: 15px;
    width: 275px;
    padding: 0px 0px 12px 0px; 
    text-align: center;
    justify-content: flex-start;
}

.pokemon-card img {
    /* border: 1px solid black; */
    background-color: #F2F2F2;
    padding: 0px 13px 0px 13px; 
    border-radius: 10px;
}

.pokemon-card h3 {
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
}

li {
    margin: 0px 0px 10px 0px;
}

span {
    padding: 5px; 
    border-radius: 7.5px;
    background-color: #fc3; 
}