{% extends 'base.html' %}
{% block content %}


<p><em>Let's have a loog at {{pokemon.nick_name}}!</em></p>

<h2>Details:</h2>
<div class='pokemon-detail-section '>
    <p><img src="{{ pokemon.photo_url }} " width="350px" height="350px" class="pokemon-detail-card"></p>
    <p><strong>Name:</strong> {{pokemon.name}}</p>
    <p><strong>Nick name:</strong> {{pokemon.nick_name}}</p>
    <p><strong>Weight:</strong> {{pokemon.weight}} lb's</p>
    <p><strong>Type:</strong> 
        {% if pokemon.pokemon_type == Type.NORMAL %} <span style='background-color: #aa9;'>{{pokemon.pokemon_type}} </span>
        {% elif pokemon.pokemon_type == Type.FIRE %} <span style='background-color: #f42;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.WATER %} <span style='background-color: #39f;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.GRASS %} <span style='background-color: #7c5;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.ELECTRIC %} <span style='background-color: #fc3;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.ICE %} <span style='background-color: #6cf;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.FIGHTING %} <span style='background-color: #b54;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.POISION %} <span style='background-color: #a59;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.GROUND %} <span style='background-color: #db5;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.FLYING %} <span style='background-color: #89f;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.PSYCHIC %} <span style='background-color: #f59;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.BUG %} <span style='background-color: #ab2;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.ROCK %} <span style='background-color: #ba6;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.GHOST %} <span style='background-color: #66b;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.DARK %} <span style='background-color: #754;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.DRAGON %} <span style='background-color: #76e;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.STEEL %} <span style='background-color: #aab;'>{{pokemon.pokemon_type}}</span>
        {% elif pokemon.pokemon_type == Type.FAIRY %} <span style='background-color: #e9e;'>{{pokemon.pokemon_type}}</span>
        {% else %}
        issue
        {% endif %}
    </p>

    <p><strong>Moves:</strong> Currently has {{pokemon.moves|length}} moves</p>

</div>


<div class='moves-list'>
    {% for move in pokemon.moves %}
    <fieldset>
        <legend>{{move.name}}</legend>

        <p><strong>Type: </strong>
            {% if move.move_type == Type.NORMAL %} <span style='background-color: #aa9;'>{{move.move_type}} </span>
            {% elif move.move_type == Type.FIRE %} <span style='background-color: #f42;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.WATER %} <span style='background-color: #39f;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.GRASS %} <span style='background-color: #7c5;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.ELECTRIC %} <span style='background-color: #fc3;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.ICE %} <span style='background-color: #6cf;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.FIGHTING %} <span style='background-color: #b54;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.POISION %} <span style='background-color: #a59;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.GROUND %} <span style='background-color: #db5;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.FLYING %} <span style='background-color: #89f;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.PSYCHIC %} <span style='background-color: #f59;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.BUG %} <span style='background-color: #ab2;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.ROCK %} <span style='background-color: #ba6;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.GHOST %} <span style='background-color: #66b;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.DARK %} <span style='background-color: #754;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.DRAGON %} <span style='background-color: #76e;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.STEEL %} <span style='background-color: #aab;'>{{move.move_type}}</span>
            {% elif move.move_type == Type.FAIRY %} <span style='background-color: #e9e;'>{{move.move_type}}</span>
    
            {% else %}
            issue
            {% endif %}
        </p>
        <p><strong>Power: </strong>{{move.power}}</p>
    </fieldset>
    {% endfor %}
</div>




<h2>Add Move</h2>

<form method="POST" action="{{ url_for('main.pokemon_detail', pokemon_id=pokemon.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Add Move</legend>
    
        {{ form.name.label }}
        {{ form.name }}
            
        {{ form.move_type.label }}
        {{ form.move_type }}

        {{ form.power.label }}
        {{ form.power }}
                
        {{ form.submit }}
    </fieldset>
</form> 


{% endblock %}